html {
	box-sizing: border-box;
}
*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #000;
	height: 100%;
}

.container {
	max-width: 1030px;
	padding: 0 15px;
	margin: 0 auto;
}

.image {
	max-width: 250px;
	border-radius: 20px;
	box-shadow: 2px 1px 15px 0px #ffffff;
	object-fit: cover;
}

.title {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin: 0px 0px 40px 0px;
}

.text {
	line-height: 1.2;
	text-shadow: 1px 1px 3px #fff;
}

.myColor {
	background-color: #ffccdd;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	color: #fff;
}

.header__logo {
	color: inherit;
	font-size: 24px;
	font-weight: 800;
	text-decoration: none;
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 5px 0px 0px 0px;
}

.navigation__item {
	list-style-type: none;
}

.navigation__link {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 20px;
	font-weight: 600;
	transition: color 0.3s;
	line-height: 20px;
}

.navigation__link:hover {
	color: #a3274c;
	outline: none;
}

.fullscreen {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 100vh;
	position: relative;
}

.fullscreen__background::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(3, 3, 3, 0.85);
	z-index: 1;
}

.fullscreen__image {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.fullscreen__body {
	position: relative;
	z-index: 1;
	color: #fff;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	justify-content: space-around;
}

.fullscreen__content {
	text-align: center;
	padding-top: 110px;
}

.fullscreen__title {
	font-size: 40px;
	letter-spacing: 3px;
	margin: 0px 0px 20px 0px;
}

.fullscreen__subTitle {
	margin: 0;
	letter-spacing: 2px;
	color: rgb(167, 146, 146);
}

.fullscreen__arrow {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 20px 0px 20px 0px;
	background-color: #a3274c;
	width: 30px;
	height: 30px;
	box-shadow: 1px 1px 6px 2px #ba4c4c;
	transition: background-color 0.3s;
}

.fullscreen__arrow:hover {
	animation-play-state: paused;
	background-color: #611d31;
	outline: none;
}

.section2__body {
	padding-top: 40px;
	padding-bottom: 20px;
}

.section2__row {
	display: flex;
	margin: 0 -30px;
}

.section2__column {
	padding: 0 30px;
}

.section2__button {
	height: 40px;
	border: none;
	background-color: #a3274c;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 16px;
	padding: 0 20px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 2px 1px 15px 0px #ffffff;
}

.section2__button:hover {
	background-color: #691f35;
}

.showFoto {
	display: block;
}

.section3 {
	padding-top: 40px;
}

.section3__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -40px;
	justify-content: center;
}

.section3__column {
	padding: 0 40px 20px 40px;
}

.section3__image {
	box-shadow: 3px 3px 5px rgb(78, 63, 63);
}

.about {
	margin-top: 50px;
}

.about__tableBody {
	overflow-x: auto;
}

.about__table {
	margin: 0 auto;
	text-align: center;
}

.table {
	border-collapse: collapse;
	max-width: 100%;
}

.table__cell {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

.table__cell--header {
	background-color: #8d2847;
	color: #fff;
}

.table__cell--name {
	background-color: #ca194e;
	color: #fff;
}

.table__row {
	background-color: #ccbbbb;
	font-weight: 600;
	transition: background-color 0.3s;
}

.table__row:hover {
	background-color: #f0eaea;
}

.footer {
	background-color: rgb(19, 17, 17);
	color: #fff;
	text-align: center;
	margin-top: 100px;
}

.footer__copyright {
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0;
	padding: 20px;
}

@media (max-width: 767px) {
	.header__body {
		display: block;
		text-align: center;
		margin-top: 15px;
	}

	.header__navigation {
		display: block;
		margin-top: 15px;
	}

	.navigation__list {
		margin-top: 15px;
		justify-content: center;
	}

	.navigation__link {
		font-size: 14px;
		margin: 0;
		padding: 0 10px;
	}

	.fullscreen__title {
		font-size: 22px;
	}

	.fullscreen__subTitle {
		font-size: 16px;
	}

	.section2__body {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.section2__row {
		display: block;
		text-align: center;
	}

	.section3 {
		padding-top: 0;
	}

	.section3__body {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.section3__text {
		text-align: center;
	}

	.section2__button {
		margin: 0 auto;
	}

	.title {
		margin-bottom: 15px;
		font-size: 25px;
	}

	.about {
		margin-top: 0;
	}

	.footer {
		margin-top: 50px;
	}
}

@media (min-width: 992px) {
	.fullscreen__arrow {
		animation: arrow 2s infinite ease-in-out;
	}
}

@keyframes arrow {
	0% {
		top: 0px;
	}
	50% {
		top: -30px;
	}
	100% {
		top: 0;
	}
}
